<div class="card">

  <div class="card__checkbox">
    <div class="multiple-choice">
      <input id="case{{urn}}" type="checkbox" name="case" value="{{urn}}">
      <label for="case{{urn}}">&nbsp;</label>
    </div>
  </div>

  <div class="card__content">
    <div class="card__head">
      <h2 class="font-xsmall float-left">Sponsorship &ndash; {{type}} &ndash; Tier {{tier}}</h2>
      <span class="font-xsmall float-right">
        Requested: <span class="date" data-days="{{requested}}"></span>
      </span>
    </div>
    <div class="card__body">
      <div class="grid-row">
        <div class="column-two-thirds margin-bottom-15">
          <a href="/casework/case?type={{type}}&name={{company}}&urn={{urn}}" class="bold-small">
            {{company}}
          </a>
          {% if priority %}
            <span class="badge premium">
              Premium
            </span>
          {% endif %}



          <!-- <a href="/casework/case?type={{type}}&name={{company}}&urn={{urn}}">{{type}}</a>
          {% if priority %}
           <span class="badge priority">
              Priority
            </span>
          {% endif %} -->
        </div>
        <div class="column-one-third">
          {{urn}}
        </div>
      </div>
      <div class="table">
        <div class="table__cell">
          <span class="bold-small">
            Due
          </span>
          <br>
          <span class="date" data-days="{{due}}"></span>
        </div>
        <div class="table__cell">
          <span class="bold-small">
            Status
          </span>
          <br>
          Not started
        </div>
        <div class="table__cell">
          <span class="bold-small">
            Assignee
          </span>
          <br>
          –
        </div>
        <!-- <div class="table__cell">
          <span class="bold-small">
            Organisation
          </span>
          <br>
          {{company}}
          {% if priority %}
            <span class="badge premium">
              Premium
            </span>
          {% endif %}
        </div>
        <div class="table__cell">
          <span class="bold-small">
            Tier
          </span>
          <br>
          {{tier}}
        </div> -->
      </div>
    </div>
  </div>

</div>
