{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large">
        Do you have any unspent criminal convictions?
      </h1>

      <form action="/sponsor/ao-civil-penalties" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <div class="multiple-choice" data-target="ao-conviction-content">
              <input id="ao-convictions-yes" type="radio" name="ao-convictions" value="Yes" {{ checked('ao-convictions','Yes') }}>
              <label for="ao-convictions-yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="ao-convictions-no" type="radio" name="ao-convictions" value="No" {{ checked('ao-convictions','No') }}>
              <label for="ao-convictions-no">No</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="ao-conviction-content" aria-hidden="true">

              <div class="form-group">
                <label class="form-label" for="ao-convictions-details">Details, including dates</label>
                <textarea type="text" class="form-control" id="ao-convictions-details" name="ao-convictions-details" rows="5" style="width: 100%;">{{ data['ao-convictions-details']}}</textarea>
              </div>

            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
