{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large">
        Are you disqualified from acting as a company director?
      </h1>

      <form action="/sponsor/ao-address" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <div class="multiple-choice">
              <input id="ao-disqualified-director-yes" type="radio" name="ao-disqualified-director" value="Yes" {{ checked('ao-disqualified-director','Yes') }}>
              <label for="ao-disqualified-director-yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="ao-disqualified-director-no" type="radio" name="ao-disqualified-director" value="No" {{ checked('ao-disqualified-director','No') }}>
              <label for="ao-disqualified-director-no">No</label>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
