{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large">
        Other names
      </h1>

      <table>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              Chris Hanson
            </th>
            <td class="numeric">
              <a href="/sponsor/ao-name-previous">Change<span class="visually-hidden"> details for Chris Hanson</span></a>
            </td>
            <td class="numeric">
              <a href="#0">Delete<span class="visually-hidden"> details for Chris Hanson</span></a>
            </td>
          </tr>
          <tr>
            <th scope="row">
              Chris Hansen
            </th>
            <td class="numeric">
              <a href="/sponsor/ao-name-previous">Change<span class="visually-hidden"> details for Chris Hansen</span></a>
            </td>
            <td class="numeric">
              <a href="#0">Delete<span class="visually-hidden"> details for Chris Hansen</span></a>
            </td>
          </tr>
        </tbody>
      </table>

      <p><a href="/sponsor/ao-name-previous">Add another name</a></p>

      <form action="ao-dob" method="get" class="form">

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>


    </div>
  </div>
</main>

{% endblock %}
