{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large">
        Do you have any previous nationalities that you no longer hold?
      </h1>

      <form action="/sponsor/ao-nationality-previous-details" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <div class="multiple-choice">
              <input id="ao-nationality-previous-yes" type="radio" name="ao-nationality-previous" value="Yes" {{ checked('ao-nationality-previous','Yes') }}>
              <label for="ao-nationality-previous-yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="ao-nationality-previous-no" type="radio" name="ao-nationality-previous" value="No" {{ checked('ao-nationality-previous','No') }}>
              <label for="ao-nationality-previous-no">No</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>

  </div>
</main>

{% endblock %}
