{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large">
        <!-- Under which categories is your organisation applying to become a sponsor? -->
        <!-- Which categories do you want to be a sponsor for? -->
        <!-- Which type of licence are you applying for? -->
        <!-- Which categories should appear on your licence? -->
        <!-- Who do you want to sponsor? -->
        <!-- Which types of people are you applying to sponsor? -->
        Who are you applying to sponsor?
      </h1>

      <p class="form-hint">Select all the categories of worker or student for which you want to be a sponsor. You must make sure you meet the sponsor requirements for every category you select.</p>

      <form class="form">

        <div class="form-group">
          <fieldset>
            <legend class="heading-medium">Skilled workers (Tier 2)</legend>
            <div class="multiple-choice">
              <input id="t2-general" type="checkbox" name="tier2" value="General" {{ checked('tier2','General') }}>
              <label for="t2-general">General –  people with an offer of a skilled job from an
employer in the UK that can&rsquo;t be filled by a settled worker</label>
            </div>

            <div class="multiple-choice">
              <input id="t2-ict" type="checkbox" name="tier2" value="Intra Company Transfer" {{ checked('tier2','Intra Company Transfer') }}>
              <label for="t2-ict">People on intra-company transfers, including both long-term staff and graduate trainees</label>
            </div>

            <div class="multiple-choice">
              <input id="t2-sports" type="checkbox" name="tier2" value="Sports people" {{ checked('tier2','Sports people') }}>
              <label for="t2-sports">Sportspeople</label>
            </div>

            <div class="multiple-choice">
              <input id="t2-ministers" type="checkbox" name="tier2" value="Ministers of religion" {{ checked('tier2','Ministers of religion') }}>
              <label for="t2-ministers">Ministers of religion</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <legend class="heading-medium">Students (Tier 4)</legend>

                  <div class="multiple-choice">
              <input id="t4-general" type="checkbox" name="tier4" value="General" {{ checked('tier4','General') }}>
              <label for="t4-general">General – students aged 16 or over coming to the UK for their post-16 education </label>
            </div>

            <div class="multiple-choice">
              <input id="t4-child" type="checkbox" name="tier4" value="Child" {{ checked('tier4','Child') }}>
              <label for="t4-child">Children – students aged 4 to 17 coming to an independent school in the UK for their education</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <legend class="heading-medium">Temporary workers (Tier 5)</legend>
            <div class="multiple-choice">
              <input id="t5-creative" type="checkbox" name="tier5" value="Creative and Sporting" {{ checked('tier5','Creative and Sporting') }}>
              <label for="t5-creative">Creative artists or sportspeople with contracts of up to 12 months</label>
            </div>

            <div class="multiple-choice">
              <input id="t5-religious" type="checkbox" name="tier5" value="Religious Workers" {{ checked('tier5','Religious Workers') }}>
              <label for="t5-religious">Religious workers</label>
            </div>

            <div class="multiple-choice">
              <input id="t5-charity" type="checkbox" name="tier5" value="Charity Workers" {{ checked('tier5','Charity Workers') }}>
              <label for="t5-charity">Unpaid charity workers</label>
            </div>
            <div class="multiple-choice">
              <input id="t5-gov" type="checkbox" name="tier5" value="Government Authorised Exchange" {{ checked('tier5','Government Authorised Exchange') }}>
              <label for="t5-gov">People on government-authorised exchange schemes</label>
            </div>

            <div class="multiple-choice">
              <input id="t5-international" type="checkbox" name="tier5" value="International Agreement" {{ checked('tier5','International Agreement') }}>
              <label for="t5-international">People coming to the UK under international agreements – such as employees of foreign governments or organisations, private servants in diplomatic residences and overseas contractors</label>
            </div>



          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Help</h2>

        <p>Sponsor requirements for each category and detailed guidance on what&rsquo;s in each category:</p>
        <ul class="list list-bullet">
          <li>
            <a href="https://www.gov.uk/government/publications/sponsor-a-tier-2-or-5-worker-guidance-for-employers">Tier 2 and 5 sponsor guidance</a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/publications/sponsor-a-tier-4-student-guidance-for-educators">Tier 4 sponsor guidance</a>
          </li>
        </ul>

        <p>How to apply for a licence:</p>
        <ul class="list list-bullet">
          <li>
            <a href="https://www.gov.uk/uk-visa-sponsorship-employers/apply-for-your-licence">Applying for a Tier 2 or 5 licence</a>
          </li>
          <li>
            <a href="https://www.gov.uk/apply-for-a-tier-4-sponsor-licence">Applying for a Tier 4 licence</a>
          </li>
        </ul>
      </aside>

    </div>
  </div>
</main>

{% endblock %}
