{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Check your answers and send your application
      </h1>


      <p>Check answers coming soon</p>


      <!-- <h2 class="heading-medium">
        Application details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Previous application number
          </dt>
          <dd class="cya-answer">
            502135326
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Licence type
          </dt>
          <dd class="cya-answer">
            For personal use
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Home address
          </dt>
          <dd class="cya-answer">
            72 Guild Street<br />
            London<br />
            SE23 6FH
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> home address</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Licence period
          </dt>
          <dd class="cya-answer">
            This is a longer paragraph of text provided by the user to provide additional information.<br /><br />
            This is a second paragraph of text provided by the user.
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
      </dl> -->


      <h2 class="heading-medium">Declaration</h2>

      <p class="text">
      The information that I've given is true to the best of my knowledge.      </p>
      <p class="text">
      I understand that if I give false information, this request may be refused.      </p>

      <div class="form-group">
        <a href="confirm" class="button">Accept and send application</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
