{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">

      <form action="/sponsor/org-address" method="get" class="form">

        <div class="dev-note-block">
          <span class="dev-note">Display if T2/T5</span>

          <h1 class="heading-large">
            What&rsquo;s your organisation&rsquo;s trading name?
          </h1>

          <div class="form-group">
            <label class="form-label" for="orgName">Trading name</label>
            <input class="form-control" id="orgName" name="org-name" value="{{ data['org-name'] }}" type="text" autocomplete="off">
          </div>

        </div>

        <div class="dev-note-block">
          <span class="dev-note">Display if T4</span>

          <h1 class="heading-large">
            What&rsquo;s your organisation&rsquo;s name?
          </h1>

          <div class="form-group">
            <label class="form-label" for="orgName">Organisation name</label>
            <input class="form-control" id="orgName" name="org-name" value="{{ data['org-name'] }}" type="text" autocomplete="off">
          </div>

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
