{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large">
      Which sector does your organisation operate in?
      </h1>
      <p class="form-hint">Choose the sector that matches your organisation&rsquo;s main economic activity</p>

      <form action="/sponsor/org-type" method="get" class="form">

        <div class="form-group">
          <label for="select-box">Sector</label><br>
          <select class="form-control" id="select-box" name="select-box">
            <option value="">- select -</option>
          	<option value="DF">Accommodation and food service activities</option>
          	<option value="DG">Activities of extraterritorial organisations and bodies</option>
          	<option value="DH">Activities of households as employers; production activities of household for own use</option>
          	<option value="DI">Administrative and support service activities</option>
          	<option value="DJ">Agriculture, forestry and fishing</option>
          	<option value="DK">Arts, entertainment and recreation</option>
          	<option value="DL">Construction</option>
          	<option value="DM">Education</option>
          	<option value="DN">Electricity, gas, steam and air conditioning supply</option>
          	<option value="DO">Financial and insurance activities</option>
          	<option value="DP">Human health and social work activities</option>
          	<option value="DQ">Information and communications</option>
          	<option value="DR">Manufacturing</option>
          	<option value="DS">Mining and quarrying</option>
          	<option value="DT">Other service activities</option>
          	<option value="DU">Public admin and defence; compulsory social security</option>
          	<option value="DV">Professional, scientific and technical activities</option>
          	<option value="DW">Real estate activities</option>
          	<option value="DX">Transportation and storage</option>
          	<option value="DY">Water supply; sewerage, waste management and remediation activities</option>
          	<option value="DZ">Wholesale and retail trade; repair of motor vehicles and motorcycles</option>
          </select>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Help</h2>
        <p>We use standard sectors defined by the Office for National Statistics (ONS).</p>

<p>For a breakdown of specific activities that belong to each sector, see the 'Summary of Structure' section of the ONS publication <a href="https://www.ons.gov.uk/methodology/classificationsandstandards/ukstandardindustrialclassificationofeconomicactivities/uksic2007">UK Standard Industrial Classification (SIC) 2007</a>.
</p>

    </aside>

    </div>
  </div>
</main>

{% endblock %}
