{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large">
        Do you have charitable status?
      </h1>

      <form action="/sponsor/org-employees" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <div class="multiple-choice">
              <input id="org-charity-yes" type="radio" name="org-charity" value="Yes" {{ checked('org-charity','Yes') }}>
              <label for="org-charity-yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="org-charity" type="radio" name="org-charity" value="No" {{ checked('org-charity','No') }}>
              <label for="org-charity">No</label>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
