{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large">
        Is this also your head office address?
        <!-- Is your organisation&rsquo;s head office address different to the trading address? -->
        <!-- Do you have a head office at another address? -->
        <!-- Is your organisation's head office at a different address? -->
      </h1>

      <form action="/sponsor/org-ho-address" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <div class="multiple-choice">
              <input id="hoCheckYes" type="radio" name="ho-check" value="Yes" {{ checked('ho-check','Yes') }}>
              <label for="hoCheckYes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="hoCheckNo" type="radio" name="ho-check" value="No" {{ checked('ho-check','No') }}>
              <label for="hoCheckNo">No</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
