{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large">
        Previous trading names
      </h1>

    </div>

    <div class="column-full">

      <table>
        <thead>
          <tr>
            <th scope="col">Trading name</th>
            <th scope="col">Address</th>
            <th scope="col">Dates traded</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              ACME Corporation
            </th>
            <td>
              123 Road Name<br>
              Sheffield<br>
              S1 1AA
            </td>
            <td>
              31/7/1987&thinsp;&ndash;&thinsp;31/7/1997
            </td>
            <td class="numeric">
              <a href="/sponsor/org-address-old">Change<span class="visually-hidden"> detais for ACME Corporation</span></a>
            </td>
            <td class="numeric">
              <a href="#0">Delete<span class="visually-hidden"> detais for ACME Corporation</span></a>
            </td>
          </tr>
          <tr>
            <th scope="row">
              ACME Corporation
            </th>
            <td>
              123 Road Name<br>
              Sheffield<br>
              S1 1AA
            </td>
            <td>
              31/7/1987&thinsp;&ndash;&thinsp;31/7/1997
            </td>
            <td class="numeric">
              <a href="/sponsor/org-ho-address">Change<span class="visually-hidden"> detais for ACME Corporation</span></a>
            </td>
            <td class="numeric">
              <a href="#0">Delete<span class="visually-hidden"> detais for ACME Corporation</span></a>
            </td>
          </tr>
        </tbody>
      </table>

      <p><a href="/sponsor/org-ho-address">Add another previous trading name</a></p>

      <form action="#0" method="get" class="form">

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>


    </div>
  </div>
</main>

{% endblock %}
