{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large">
        Is your organisation&rsquo;s trading address different to your usual work address?
      </h1>

      <form action="" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <legend class="visually-hidden">Is your organisation&rsquo;s trading address different to your usual work address?</legend>
            <div class="multiple-choice">
              <input id="orgAddCheckYes" type="radio" name="org-add-check" value="Yes" {{ checked('org-add-check','Yes') }}>
              <label for="orgAddCheckYes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="orgAddCheckNo" type="radio" name="org-add-check" value="No" {{ checked('org-add-check','No') }}>
              <label for="orgAddCheckNo">No</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
