// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Take a look at in app/assets/sass/_hod-patterns/ to see which files are imported.
// (These styles extend the GOV.UK design patterns for additional use cases and users, including internal services.)
.hod {
  // Settings (variables)
    @import "_hod-patterns/variables";  	                           // Variables (setting measurements for HO patterns)
  // Components (patterns)
    @import "_hod-patterns/navigation";  	                           // Navigation
    @import "_hod-patterns/tabs";  	                                 // Tabs (grouping same-level content)
    @import "_hod-patterns/buttons";  	                             // Buttons pattern
    @import "_hod-patterns/flashcard";  	                           // Flashcard pattern
    @import "_hod-patterns/tasks";  	                               // Tasks pattern
    @import "_hod-patterns/labels";  	                               // Label
    @import "_hod-patterns/badges";  	                           	   // Badges (notification)
    @import "_hod-patterns/timeline";  	                           	 // Timeline
    @import "_hod-patterns/accordion";  	                           // Accordion
    @import "_hod-patterns/modal";  	                           	   // Modal
  // Icons
    //@import "vendor/style";		  	                               	 // Icons created in icomoon
    //@import "vendor/variables";
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  // li {
  //   margin-bottom: 10px;
  //   list-style-type: none;
  // }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.column-three-quarters {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-three-quarters {
    float: left;
    width: 75%;
  }
}

.column-one-fifth {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-one-fifth {
    float: left;
    width: 20%;
  }
}



// Helper classes
// Common tasks like adding/removing margin
.margin-0 {
  margin: 0!important;
}
.margin-bottom-0 {
  margin-bottom: 0!important;
}
.margin-top-0 {
  margin-top: 0!important;
}
.margin-top-15 {
  margin-top: 15px!important;
}
.margin-top-30 {
  margin-top: 30px!important;
}
.margin-bottom-15 {
  margin-bottom: 15px!important;
}
.margin-bottom-30 {
  margin-bottom: 30px!important;
}

.padding-0 {
  padding: 0!important;
}
.padding-bottom-0 {
  padding-bottom: 0!important;
}
.padding-top-0 {
  padding-top: 0!important;
}
.padding-top-15 {
  padding-top: 15px!important;
}
.padding-top-30 {
  padding-top: 30px!important;
}
.padding-bottom-15 {
  padding-bottom: 15px!important;
}
.padding-bottom-30 {
  padding-bottom: 30px!important;
}

.border-0 {
  border: 0!important;
}

.bold {
  font-weight: 700!important;
}

.text-right {
  text-align: right!important;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

address {
  font-style: normal
}

.relative {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .center-v {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .center-h {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }





// Add a secondary button
.button-secondary {
  @include button ($grey-3);
  @include box-sizing (border-box);
  vertical-align: top;

  @include media (mobile) {
    width: 100%;
    text-align: center;
  }
}




.page-header {
  border-bottom: 5px solid $govuk-blue;
  margin-top: 30px;
}

.secondary-text {
  color: $grey-1;
  font-size: 80%;
  font-weight: normal;
}




.govuk-box-highlight.new {
  padding: 1em 2em 2em;
  background-color: $green;

  a, a:hover, a:visited {
    color: white;
    font-weight: 700;
  }

  .hod-checkmark {
    font-size: 60px;
    display: block;
    margin: 15px auto;
    position: relative;
    background: rgba(255,255,255,0.1);
    //background-color: lighten($green, 5%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: pulse 1.5s .5s ease;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    + .heading-large {
      margin-top: 0;
    }

  }
}

@keyframes pulse {
    0%,100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.15);
    }
}






.filter .form-control {
  width: 100%;
  background: white;
}

.filter .column-third {
  border-right: 1px solid #aaa;
}
.filter .column-third:last-child {
  border-right: none;
}




.filter-panel {
  background: #eee;
  clear: both;
  margin-bottom: 30px;
  padding: 25px 15px;
}


.search-toggle {
  float: right;
  padding-right: 0.3em;
  margin: 50px 0 0;
}
  .search-toggle::after {
  	border-style: solid;
  	border-width: 0.15em 0.15em 0 0;
  	content: '';
  	display: inline-block;
  	height: 0.45em;
  	left: 0.3em;
  	position: relative;
    top: 0.15em;
  	transform: rotate(135deg);
  	vertical-align: top;
  	width: 0.45em;
  }
  .search-toggle.open::after {
    top: 0.3em;
  	transform: rotate(-45deg);
  }






// CARDS
.card {
  display: table;
  border: 1px solid $border-colour;
  background: $highlight-colour;
  position: relative;
  margin-bottom: 15px;
}

.card__checkbox {
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid $border-colour;
  padding-right: 15px;
}
  .card__checkbox .multiple-choice {
    background-color: white;
    padding-left: 26px;
  }

.card__content {
  display: table-cell;
  width: 100%;
}

.card__checkbox, .card__head {
  padding: 7.5px 15px;
}
.card__body {
  padding: 15px;
}

.card__head {
  border-bottom: 1px solid $border-colour;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}



.table {
  display: table;
  width: 100%;
}
  .table__cell {
    display: table-cell;
    width: auto;
  }



.badge {
  color: white;
  padding: 0.1em 0.5em 0 0.5em;
  font-weight: bold;
  font-size: 70%;
  margin-left: 0.5em;

  position: relative;
  top: -0.2em;

  &.priority {
    background: $grey-1;
  }
  &.premium {
    background: $mauve;
  }
}





  .cases .caseworker {
    padding: 0.9em 0;

  };
  .cases {
    td:first-child,
      th:first-child {
      padding-left: 0.5em;
    }
    td {
      border: none;
    }
  }
  .cases .badge {
    color: white;
    padding: 0.1em 0.5em 0 0.5em;
    font-weight: bold;
    font-size: 70%;
    margin-left: 0.5em;

    position: relative;
    top: -0.2em;

    &.priority {
      background: $grey-1;
    }
    &.premium {
      background: $mauve;

    }
  }
.border-bottom {
  border-bottom: 1px solid $grey-2;
}




// Left Nav
// e.g. Used on case screen
ul.leftnavSimpler {
  list-style-type: none;
  margin: 0 0 0 -0.5em;
  padding: 0;
  overflow: hidden;
  float: left;
  width: 100%;


  li a {
    display: block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    transition: 0.1s;
  }

  li a:hover {
      color: $link-colour;
      text-decoration: underline;
  }
  .active, li a.active:hover {
      font-weight: bold;
      text-decoration: none;
  }

}

// Content displayed by left nav
.leftnavcontent {
  display: none;
  float: left;
  width: 100%;
}
  .leftnavcontent h3 {
    margin: 0px;
    display: inline;
  }
  .leftnavcontent .notice strong {
    margin-bottom: 30px;
  }
  .leftnavcontent blockquote {
    padding: 30px;
  }
  .leftnavcontent .other-info {
    margin-top: 1.25em;
    margin-bottom: 60px;
  }
  .leftnavcontent img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
