{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight new">
        <span class="hod-checkmark"></span>
        <h1 class="heading-large">
          Cases assigned
        </h1>
      </div>

      <h2 class="heading-medium">View case</h2>
      <ul class="list panel panel-border-wide margin-bottom-30">
        {% for case in case %}
          <li><a href="/casework/case">{{ case }}</a></li>
        {% else %}
          <li><a href="/casework/case">S0012412/4233412</a></li>
        {% endfor %}
      </ul>

      <p><a href="workstack">Back to case list</a></p>

    </div>
  </div>
</main>

{% endblock %}
