{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{ serviceName }}
        <span class="heading-secondary">
          HTML design and content
        </span>
      </h1>

      <h2 class="heading-large">Sponsor</h2>
      <p><a href="/sponsor/start" class="button">View journey&thinsp;&ndash;&thinsp;not complete</a></p>

      <details role="group">
        <summary role="button" aria-controls="sponsor_links" aria-expanded="false">
          Links to individual pages and JIRA refs
        </summary>
        <div id="sponsor_links" aria-hidden="true">
          <ul class="list list-bullet">
            <li>
              <a href="/sponsor/categories">
                SP-2182: Select categories
              </a>
            </li>
            <li>
              <a href="/sponsor/sector">
                SP-2230-1: Select sectors
              </a>
              <br>
              <a href="/sponsor/org-type">
                SP-2230-2: Select org type
              </a>
            </li>
            <li>
              <a href="/sponsor/org-name">
                SP-2168-1: Org name
              </a>
              <br>
              <a href="/sponsor/org-address">
                SP-2168-2: Org address
              </a>
              <br>
              <a href="/sponsor/org-ho-check">
                SP-2168-3: Head office check
              </a>
              <br>
              <a href="/sponsor/org-ho-address">
                SP-2168-4: Head office address
              </a>
              <br>
              <a href="/sponsor/org-ho-check">
                SP-2168-5: Previous trading check
              </a>
              <br>
              <a href="/sponsor/org-ho-address">
                SP-2168-6: Previous trading details
              </a>
              <br><a href="/sponsor/categories">
                SP-2168-7: Previous trading addresses overview
              </a>
            </li>
            <li>
              <a href="/sponsor/ao-name">
                SP-2003-1: AO name
              </a>
              <br>
              <a href="/sponsor/ao-name-previous-check">
                SP-2003-2: AO previous name check
              </a>
              <br>
              <a href="/sponsor/ao-name-previous">
                SP-2003-3: AO previous name
              </a>
              <br>
              <a href="/sponsor/ao-name-previous-overview">
                SP-2003-4: Previous AO names overview
              </a>
              <br>
              <a href="/sponsor/ao-dob">
                SP-2003-5: AO DOB
              </a>
              <br>
              <a href="/sponsor/ao-position">
                SP-2003-6: AO position
              </a>
              <br>
              <a href="/sponsor/ao-contact">
                SP-2003-7: AO contact details
              </a>
              <br>
              <a href="/sponsor/ao-nationality-check">
                SP-2003-8: AO nationality check
              </a>
              <br>
              <a href="/sponsor/ao-nationality-details">
                SP-2003-9: AO nationality details
              </a>
              <br>
              <a href="/sponsor/ao-nationality-dual-check">
                SP-2003-10: AO nationality dual check
              </a>
              <br>
              <a href="/sponsor/ao-nationality-dual-overview">
                SP-2003-11: AO nationality dual overview
              </a>
              <br>
              <a href="/sponsor/ao-nationality-previous-check">
                SP-2003-12: AO previous nationality check
              </a>
              <br>
              <a href="/sponsor/ao-nationality-previous-details">
                SP-2003-13: AO previous nationality details
              </a>
              <br>
              <a href="/sponsor/ao-nationality-previous-overview">
                SP-2003-14: Previous AO nationality overview
              </a>
              <br>
              <a href="/sponsor/ao-convictions">
                SP-2003-15: AO convictions
              </a>
              <br>
              <a href="/sponsor/ao-civil-penalties">
                SP-2003-16: AO civil penalties
              </a>
              <br>
              <a href="/sponsor/ao-bankruptcies">
                SP-2003-17: AO bankruptcies
              </a>
              <br>
              <a href="/sponsor/ao-disqualified-director">
                SP-2003-18: AO disqualified director
              </a>
              <br>
              <a href="/sponsor/ao-address">
                SP-2003-19: AO address
              </a>
            </li>
          </ul>
        </div>
      </details>


      <h2 class="heading-large">Caseworker</h2>
      <p><a href="/casework/workstack" class="button">View workstack</a></p>

      <details role="group">
        <summary role="button" aria-controls="casework_links" aria-expanded="false">
          Links to individual pages and JIRA refs
        </summary>
        <div id="casework_links" aria-hidden="true">
          <ul class="list list-bullet">
            <li>
              <a href="/casework/workstack">
                Workstack
              </a>  - not complete
            </li>
            <li>
              <a href="/casework/case">
                SP-2007: Record decision granted
              </a> - Under decision tab on left
              <br>
              <a href="/casework/case--grant">
                SP-2007: Decision granted confirmation
              </a>
            </li>
          </ul>
        </div>
      </details>

      <h2 class="heading-medium">Main contacts</h2>
      <ul class="list list-bullet">
        <li>Chris Hanson &ndash; interaction design</li>
        <li>Martin Wake &ndash; senior content designer</li>
        <li>Fred Brenton &ndash; content designer</li>
      </ul>







      <h2 class="heading-medium">Other resources</h2>
			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
