{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{ serviceName }}
        <span class="heading-secondary">
          HTML design and content
        </span>
      </h1>

      <h2 class="heading-large">Sponsor</h2>
      <p><a href="#0" class="button" disabled="disabled">Full journey not yet ready</a></p>

      <details role="group">
        <summary role="button" aria-controls="sponsor_links" aria-expanded="false">
          Links to individual pages and JIRA refs
        </summary>
        <div id="sponsor_links" aria-hidden="true">
          <ul class="list list-bullet">
            <li>
              <a href="/sponsor/categories">
                SP-2182: Select categories
              </a>
            </li>
          </ul>
        </div>
      </details>


      <h2 class="heading-large">Caseworker</h2>
      <p><a href="#0" class="button" disabled="disabled">Full journey not yet ready</a></p>

      <details role="group">
        <summary role="button" aria-controls="casework_links" aria-expanded="false">
          Links to individual pages and JIRA refs
        </summary>
        <div id="casework_links" aria-hidden="true">
          <ul class="list list-bullet">
            <li>
              <a href="/casework/workstack">
                Workstack
              </a>  - not complete
            </li>
            <li>
              <a href="/casework/case">
                SP-2007: Record decision granted
              </a> - Under decision tab on left
              <br>
              <a href="/casework/case--grant">
                SP-2007: Decision granted confirmation
              </a>
            </li>
          </ul>
        </div>
      </details>

      <h2 class="heading-medium">Main contacts</h2>
      <ul class="list list-bullet">
        <li>Chris Hanson &ndash; interaction design</li>
        <li>Martin Wake &ndash; senior content designer</li>
        <li>Fred Brenton &ndash; content designer</li>
      </ul>







      <h2 class="heading-medium">Other resources</h2>
			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
